<% if video.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(video.errors.count, "error") %>.</h4>
    <ul>
      <% video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_group_tag(video.errors[:title]) do %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control', placeholder: "Enter video title" %>
<% end %>
<%= form_group_tag(video.errors[:language]) do %>
  <%= f.label :language %>
  <%= f.text_field :language, class: 'form-control', placeholder: "Enter video language" %>
<% end %>
<%= form_group_tag(video.errors[:year]) do %>
  <%= f.label :year %>
  <%= f.text_field :year, class: 'form-control', placeholder: "Enter video year" %>
<% end %>
<%= form_group_tag(video.errors[:synopsis]) do %>
  <%= f.label :synopsis %>
  <%= f.text_area :synopsis, rows: 8, class: 'form-control', placeholder: "Enter video synopsis" %>
<% end %>
<div class="form-group">
  <%= render partial: 'genres/form', locals: { f: f, season: @season, genres: @video.genres } %>
</div>
<%= f.submit "Save", class: 'btn btn-success' %>
