<h1><%= @video.title %></h1>
<%= render partial: "genres/list", locals: { genres: @video.genres } %>
<div class="row">
  <div class="col-md-8">
    <p class="lead">
      <%= @video.language %>, <%= @video.year %><br />
      <%= @video.synopsis %>
    </p>
  </div>
</div>
<%= link_to "Edit Video", edit_movie_path(@video), class: 'btn btn-success' %>
<%= link_to "Delete Video", movie_path(@video), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this video?' } %>
